input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  outline: none;
  -moz-appearance: textfield;
}

.converter__title {
  font-weight: 500;
  font-size: 60px;
  text-align: center;
}

.converter__item {
  padding-top: 100px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.converter__input {
  text-align: center;
  width: 60%;
  min-height: 100px;
  font-size: 60px;
  color: rgb(206, 206, 206);
  background-color: rgb(49, 51, 53);
  border-radius: 6px;
  border: 1px solid rgb(156, 253, 255);
}

.converter__select {
  width: 30%;
  background: none;
  border: 1px solid rgb(156, 253, 255);
  border-top: none;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 20px;
  box-shadow: none;
  outline: none;
  color: rgb(206, 206, 206);
  -webkit-appearance: none;
}
