@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500&display=swap");

$text-color: rgb(206, 206, 206);
$background-color: rgb(49, 51, 53);
$font: "Plus Jakarta Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: $font;
  font-size: 20px;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
}
